<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarOps Cohort Analysis</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>MarOps Cohort Analysis</h1>
        <form method="post" enctype="multipart/form-data">
            <p>Upload CSV file for automated cohort analysis</p>
            <input type="file" name="file" />
            <button type="submit">Upload</button>
        </form>
        {% if avg_csv_path and total_csv_path and repeat_csv_path and cohort_sizes_csv_path %}
        <div class="download-results">
            <h2>Download Results</h2>
            <a href="{{ url_for('download_file', filename=avg_csv_path.split('/')[-1]) }}">Download Average LTV CSV</a>
            <a href="{{ url_for('download_file', filename=total_csv_path.split('/')[-1]) }}">Download Total Monthly Revenue CSV</a>
            <a href="{{ url_for('download_file', filename=repeat_csv_path.split('/')[-1]) }}">Download Repeat Purchase Rate CSV</a>
            <a href="{{ url_for('download_file', filename=cohort_sizes_csv_path.split('/')[-1]) }}">Download Cohort Sizes CSV</a>
        </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
